SUBSYSTEM=="tty", ATTRS{idVendor}=="2f5d", ATTRS{idProduct}=="2202", ATTRS{serial}=="E9F175F550304A46462E3120FF111328", SYMLINK+="OpenRB150_1"

SUBSYSTEM=="tty", ATTRS{idVendor}=="2f5d", ATTRS{idProduct}=="2202", ATTRS{serial}=="E180037050304A46462E3120FF060324", SYMLINK+="OpenRB150_3"

SUBSYSTEM=="tty", ATTRS{idVendor}=="2f5d", ATTRS{idProduct}=="2202", ATTRS{serial}=="E87CE2BA50304A46462E3120FF0C0525", SYMLINK+="OpenRB150_5"

SUBSYSTEM=="tty", ATTRS{idVendor}=="2f5d", ATTRS{idProduct}=="2202", ATTRS{serial}=="120F842D50304A46462E3120FF0B250A", SYMLINK+="OpenRB150_7"
