<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0097595 0.033786 0.099879"
        rpy="0 0 0" />
      <mass
        value="0.13094" />
      <inertia
        ixx="6.9183E-05"
        ixy="-5.7527E-06"
        ixz="2.8061E-08"
        iyy="5.3595E-05"
        iyz="6.399E-10"
        izz="0.00011919" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link_1">
    <inertial>
      <origin
        xyz="0.025329 -0.015995 0.031734"
        rpy="0 0 0" />
      <mass
        value="0.042806" />
      <inertia
        ixx="1.1775E-05"
        ixy="3.2458E-06"
        ixz="6.0693E-15"
        iyy="2.7756E-05"
        iyz="-5.2035E-15"
        izz="3.3805E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/Link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_test/meshes/Link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.043961 -0.066001 0.02941"
      rpy="1.5708 -0.063528 0" />
    <parent
      link="base_link" />
    <child
      link="Link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1"
      velocity="1" />
  </joint>
</robot>
